@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1f6fc31;
}

section,
footer {
    padding: 54px 0;
}

h3 {
    font-size: 50px;
}

p {
    color: #0000009c;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn.animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
    background-color: #3580db;

}

@keyframes animate-outline {
    from {
        outline: 0px solid #4f9bf98a;
    }

    to {
        outline: 15px solid #4f9bf988;
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    justify-content: space-between;
    gap: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: aliceblue;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:not(.btn):after {
    content: "";
    background-color: blue;
    height: 3px;
    width: 100%;
    display: block;
}

nav ul a:hover::after {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: white;
}

.banner .banner-text p {
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}